%h2=@user.username
%a.fc-webicon.facebook.large(href="#")

%a.fc-webicon.twitter.large(href="#")
%a.fc-webicon.github.large(href="#")
%a.fc-webicon.linkedin.large(href="#")
%a.fc-webicon.mail.large(href="#")