.row
  .small-12.columns.myregistration
    New to Readit?
    %br
    Sign Up!
  .small-12.large-4.large-offset-4.columns
    = form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f|
    .input-container

<div class="container">
  <div class="row">
    <div class="span4 offset4 well myregistration">
      <legend>New to Readit?<br>Sign Up!</legend>
    <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
      <%= devise_error_messages! %>

      <div><%= f.email_field :email, :placeholder => "E-Mail", :autofocus => true %></div>
      <div><%= f.text_field :username, :placeholder => "Username" %></div>
      <div><%= f.password_field :password, :placeholder => "Password" %></div>
      <div><%= f.password_field :password_confirmation, :placeholder => "Confirm Password" %></div>
      <div><%= f.submit "Sign up", :class => 'btn btn-warning' %></div>
    <% end %>

    <%= render "devise/shared/links" %>
    </div>
  </div>
</div>

