.container {
  margin-top: 35px;  /*Clear fixed nav*/
  min-width: 1200px;
}

.header {
  font-size: 6.5em;
  text-align: center;
}
img.myheader {
  padding-bottom: 40px;
  margin-bottom: 10px;
  display: block;
  margin: 0 auto;
  width: 700px;
}

img.cat {
  vertical-align: bottom;
}


.blue {
  color: #08037E !important;
}


/* SIGN-IN */

.mysign-in-header, .myregistration-header,
.mypassword-header {
  text-align: center;
  margin: 50px 0 20px 0;
}

.input-container {
  border-radius: 4px;
  border: 2px solid #ddd;
  margin-bottom: 10px;
}

input#user_email, input#user_password,
input#user_username,
input#user_password_confirmation,
input#link_title,
input#link_url,
textarea#link_description {
  margin-bottom: 0;  /* Remove the default margin on input, move it to container */
}
/* make search behave on minimized menu */
li.searchfield, li.searchbutton {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}


.mysign-in-button-l, .mysign-in-button-r {
  border-radius: 4px;
  width: 46%;
}

.mysign-in-button-r {
  float: right;
  background-color: #13253e;
}

.mypassword-button {
  border-radius: 4px;
  width: 110%;
  margin: 20px 0 20px -13px;
}

.myform {
  margin-top: 50px;
}

.mycheckbox label {
  display: inline-block;
}

/*   LINKS   */

.pagination-centered {
  margin: 0 auto;
}

.mylink-button {
  border-radius: 4px;
  margin: 0 auto;
}

div.mylinkspace {
  padding: 0;
  margin-bottom: 10px;
  height: 180px;
  max-width: 75em;
  font-family: "Fauna One";
}

div.mylinkspace.multiple {
  border-bottom: 1px solid #e5e5e5;
  height: 180px;
}

i.myvotearrow {
  margin-left: 20px;
  text-decoration: none;
  color: #08037E;
  font-size: 3.5em;
}

div.small-5.columns.mythumbnail {
  min-width: 185px;
}

img.thumbnail.mythumbnail {
  box-shadow: 0px 0px 1px 0px #000;
  min-width: 220px;
  margin-top: 2px;
}

img.userthumb {
  width: 40px;
  border-radius: 3px;
  margin-right: 8px;
}

img.userthumb-mini {
  width: 28px;
  margin: -10px 0;
}

h1.votes {
  margin: -10px 25px;
  font-size: 35px;
}

div.span-link-vote {
  margin-right: -20px;
  margin-top: 10px;
}

.link:after {
  content: "";
}

.linktitle a {
  color: #08037E;
  font-family: "Antic";
}

p.previewtext {
  height: 55px; /*if I set this, will not be responsive*/
  font-size: .8em;
}

p.aboutlink a {
  color: #08037E;
}
/*   COMMENTS   */

.comments {
  margin-top: 50px;
}

.comment-header {
  margin-bottom: 20px;
  margin-left: 20px;
}

div.span1.span-comment-vote {
  margin-right: 10px;
}

.comment-content {
  margin-top: 8px;
}

.comment {
  margin-left: 20px;
  margin-bottom: 40px;
}

.comment p {
  margin-bottom: 3px;
}

h4.votes {
  margin: -10px 22px;
}

span.user strong, span.date strong {
  color: #08037E;
}

span.date {
  margin-left: 10px;
}

.top-bar-section ul li a:hover{
  background-color: #333 !important;
}

