body{
   /*margin-top: 35px; clear fixed nav*/
}

.container {
  margin-top: 35px;  /*Clear fixed nav*/
}

.header {
  font-family: 'Amaranth';
  font-size: 6.5em;
}
.myheader {
  padding-bottom: 40px;
  margin-bottom: 10px;
}

img.cat {
  vertical-align: bottom;
}


.blue {
  color: #08037E !important;
}

/* SIGN-IN */

.mysign-in-header, .myregistration-header {
  text-align: center;
  margin: 20px 0;
}

.input-container {
  border-radius: 4px;
  border: 2px solid #ddd;
  margin-bottom: 10px;
}

input#user_email, input#user_password,
input#user_username, input#user_password_confirmation {
  margin-bottom: 0;  /* Remove the default margin on input, move it to container */
}

.mysign-in-button-l, .mysign-in-button-r {
  border-radius: 4px;
  width: 46%;
}

.mysign-in-button-r {
  float: right;
  background-color: #13253e;
}

.myform {
  margin-top: 50px;
}

.mycheckbox label {
  display: inline-block;
  margin-bottom: 10px;
}

/*   LINKS   */

div.mylinkspace {
  padding: 0;
  margin-bottom: 10px;
  height: 180px;
  border-bottom: 1px solid #e5e5e5;
}

i.myvotearrow {
  margin-left: 20px;
  text-decoration: none;
  color: #08037E;
}

img.thumbnail.mythumbnail {
/*  margin-top: 15px;*/
  /*max-height: 145px;*/
  box-shadow: 0px 0px 3px 2px #ddd;
  min-width: 220px;
}

img.userthumb {
  width: 40px;
  border-radius: 3px;
  margin-right: 8px;
}

img.userthumb-mini {
  width: 28px;
  margin: -10px 0;
}

h1.votes {
  margin: -10px 25px;
}

div.span1.span-link-vote {
  margin-right: 20px;
  margin-top: 20px;
}

.linktitle a {
  color: #08037E;
}

p.previewtext {
  height: 55px; /*if I set this, will not be responsive*/
}

p.aboutlink a {
  color: #08037E;
}
/*   COMMENTS   */

.comments {
  margin-top: 50px;
}

.comment-header {
  margin-bottom: 20px;
  margin-left: 20px;
}

div.span1.span-comment-vote {
  margin-right: 10px;
}

.comment-content {
  margin-top: 8px;
}

.comment {
  margin-left: 20px;
  margin-bottom: 40px;
}

.comment p {
  margin-bottom: 3px;
}

h4.votes {
  margin: -10px 22px;
}

span.user strong, span.date strong {
  color: #08037E;
}

span.date {
  margin-left: 10px;
}

@media only screen and (max-width: 960px){
  .header {
    font-size: 4em;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 767px){
  div.span-link-vote {
    display: none;
  }

  img.thumbnail.mythumbnail {
    min-width: 220px;
  }
}

@media only screen and (max-width: 900px) and (min-width: 767px){
  img.thumbnail.mythumbnail {
    margin-top: 25px;
    margin-left: 10px;
    min-width: 100px;
  }
}

@media only screen and (max-width: 600px){
  .header {
    font-size: 3em;
    margin-top: 10px;
  }
}

@media only screen and (max-width: 500px){
  .header {
    font-size: 2em;
    margin-top: 10px;
  }

  img.userthumb {
    display: none;
  }

  img.mythumbnail {
    margin-top: 20px;
    margin-bottom: 20px;
  }

  div.span-link-vote {
    display: none;
  }

  p.aboutlink {
    margin-top: 45px;
  }
}

