.myregistration, .mysignin {
  max-width: 228px;
}

.myform {
  margin-top: 50px;
}

/*   LINKS   */

i.myvotearrow {
  margin-left: 20px;
  text-decoration: none;
}

div.link {
  margin-top: 10px;
}

h1.votes {
  margin: -10px 25px;
}

div.span1.span-link-vote {
  margin-right: 20px;
}

.linktitle a {
  color: #08037E;
}

/*   COMMENTS   */

.comments {
  margin-top: 50px;
}

.comment-header {
  margin-bottom: 20px;
  margin-left: 20px;
}

div.span1.span-comment-vote {
  margin-right: 10px;
}

.comment-content {
  margin-top: 8px;
}

.comment {
  margin-left: 20px;
  margin-bottom: 40px;
}

.comment p {
  margin-bottom: 3px;
}

h4.votes {
  margin: -10px 22px;
}

span.user strong, span.date strong {
  color: #08037E;
}

span.date {
  margin-left: 10px;
}