.header {
  width: 300px;
  display: inline-block;
  margin-top: 20px;
  font-size: 90px;
  font-family: 'Amaranth';
}

.myheader {
  padding-bottom: 40px;
  margin-bottom: 10px;
}

img.cat {
  vertical-align: bottom;
}

a, .blue {
  color: #08037E !important;
}

.myregistration, .mysignin {
  max-width: 228px;
}

.myform {
  margin-top: 50px;
}

/*   LINKS   */

div.mylinkspace {
  padding: 0;
  margin-bottom: 10px;
  height: 180px;
  border-bottom: 1px solid #e5e5e5;
  margin-left: 0;

}

i.myvotearrow {
  margin-left: 20px;
  text-decoration: none;
}

img.thumbnail.mythumbnail {
  width: 180px;
  margin-top: 15px;
  max-height: 135px;
}

img.userthumb {
  width: 40px;
  border-radius: 3px;
  margin-right: 8px;
}

img.userthumb-mini {
  width: 28px;
  margin: -10px 0;
}

div.linkinfo {
  width: 100px;
  display: inline-block;
}

h1.votes {
  margin: -10px 25px;
}

div.span1.span-link-vote {
  margin-right: 20px;
  margin-top: 20px;
}

.linktitle a {
  color: #08037E;
}

p.previewtext {
  height: 55px;
  width: 600px;
}

/*   COMMENTS   */

.comments {
  margin-top: 50px;
}

.comment-header {
  margin-bottom: 20px;
  margin-left: 20px;
}

div.span1.span-comment-vote {
  margin-right: 10px;
}

.comment-content {
  margin-top: 8px;
}

.comment {
  margin-left: 20px;
  margin-bottom: 40px;
}

.comment p {
  margin-bottom: 3px;
}

h4.votes {
  margin: -10px 22px;
}

span.user strong, span.date strong {
  color: #08037E;
}

span.date {
  margin-left: 10px;
}