.container {
  margin-top: 35px;  /*Clear fixed nav*/
  min-width: 1200px;
  min-height: 502px;
}

.header {
  font-size: 6.5em;
  text-align: center;
}
img.myheader {
  padding-bottom: 40px;
  margin-bottom: 10px;
  display: block;
  margin: 0 auto;
  width: 700px;
}

img.cat {
  vertical-align: bottom;
}


.blue {
  color: #08037E !important;
}

.footer {
  background-color:#000000;
  height:40px;
  bottom:0;
  color: #ddd;
  text-align: right;
}

.footer ul.footerlinks {
  margin-right: 60px;
  list-style: none;
}

.footer ul.footerlinks li {
  display: inline-block;
  margin-top: 10px;
}

.footer ul li a {
  color: #ddd;
}
/* SIGN-IN */

.mysign-in-header, .myregistration-header,
.mypassword-header {
  text-align: center;
  margin: 50px 0 20px 0;
}

.input-container.form-field, .input-container.form-field.tags {
  border-radius: 4px;
  border: 2px solid #ddd;
  margin-bottom: 10px;
  padding: 0;
}

.input-container.form-field.tags {
  height: 290px;
}

select.selectTags {
  height: 100%;
  font-family: "Antic";
  font-size: .86em;
}

input#user_email, input#user_password,
input#user_username,
input#user_password_confirmation,
input#link_title,
input#link_url,
textarea#link_description {
  margin-bottom: 0;  /* Remove the default margin on input, move it to container */
}

textarea#link_description {
  height: 200px;
}
/* make search behave on minimized menu */
li.searchfield, li.searchbutton {
  display: inline-block;
  margin-left: 10px;
  margin-right: 10px;
}


.mysign-in-button-l, .mysign-in-button-r {
  border-radius: 4px;
  width: 46%;
}

.mysign-in-button-r {
  float: right;
  background-color: #13253e;
}

.mypassword-button {
  border-radius: 4px;
  width: 110%;
  margin: 20px 0 20px -13px;
}

.myform {
  margin-top: 50px;
}

.mycheckbox label {
  display: inline-block;
}

/*   LINKS   */

.pagination-centered {
  margin: 0 auto;
}

.mylink-button {
  border-radius: 4px;
  margin: 0 auto;
}

div.mylinkspace {
  padding: 0;
  margin-bottom: 10px;
  height: 180px;
/*  max-width: 75em;*/
  font-family: "Fauna One";
}

div.show.mylinkspace {
  height: 300px;
}

div.mylinkspace.multiple {
  height: 200px;
}

.link_border {
  overflow: hidden;
  border-bottom: 1px solid #e5e5e5;
}

i.myvotearrow {
  margin-left: 19px;
  text-decoration: none;
  color: #08037E;
  font-size: 3.5em;
}

i.icon-large.myvotearrow {
  font-size: 1.5em;
  margin-left: 23px;
}

div.small-5.columns.mythumbnail {
  min-width: 185px;
}

img.thumbnail.mythumbnail {
  box-shadow: 0px 0px 2px 0px #000;
  min-width: 220px;
  margin-top: 2px;
}

img.show.mythumbnail {
  min-width: 400px;
}

img.userthumb {
  width: 40px;
  border-radius: 3px;
  margin-right: 8px;
}

img.userthumb-mini {
  width: 28px;
  margin: -10px 0;
}

h1.votes {
  margin: -10px 25px;
  font-size: 35px;
}

div.span-link-vote {
  margin-right: -20px;
  margin-top: 10px;
}

.linktitle a {
  color: #08037E;
  font-family: "Antic";
}

div h5 {
  margin-bottom: 0;
}

p.tags a, p.tags{
  color: #999;
  text-transform: uppercase;
  font-size: .9em;
  font-family: "Antic";
  margin-bottom: 6px;
}

p.tags a:hover {
  color: blue;
}

p.previewtext {
  height: 30px; /*if I set this, will not be responsive*/
  font-size: .8em;
}

p.tags {
  height: 22px;
}

p.aboutlink a {
  color: #08037E;
}

div p.aboutlink {
  margin-bottom: 0;
  margin-top: 50px;
}

div.small-4.columns.tagcloud {
  height: 500px;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.tag {
  margin-top: 12px;
}

.row.paginating {
  margin-top: 40px;
}
/*   COMMENTS   */

.comments {
  margin-top: 50px;
}

.comment-header {
  margin-bottom: 20px;
  margin-left: 20px;
}

div.span1.span-comment-vote {
  margin-right: 10px;
}

.comment-content {
  margin-top: 5px;
}

.comment.row {
  margin-bottom: 40px;
}

.comment p {
  margin-bottom: 3px;

}

h4.votes {
  margin: -10px 27.5px;
  font-size: 1.2em;
  line-height: 1.7em;

}

span.user strong, span.date strong {
  color: #08037E;
}

span.date {
  margin-left: 10px;
}

.top-bar-section ul li a:hover{
  background-color: #333 !important;
}

